{{ define "content" }}
    <h1>{{ .Title }}</h1>
    {{ range .Params.Components }}
      {{ if .hero }}
        {{ partial "hero.html" (dict "hero" .) }}
      {{ end }}
      {{ if .grid }}
        {{ partial "grid.html" (dict "grid" .) }}
      {{ end }}
      {{ if .blurb }}
        {{ partial "blurb.html" (dict "blurb" .) }}
      {{ end }}
    {{ end }}
    Check out our blog:
        {{ range where .Site.RegularPages "Type" "blog_posts" }}
          <a href="{{ .Permalink }}" class="navbar-item">{{ .Title }}</a>
        {{ end }}
{{ end }}
