<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">

  {{ $style := resources.Get "css/main.css" }}
  {{ $components := readDir "assets/css/components" }}
  {{ range $components }}
    {{ $component := resources.Get (printf "css/components/%s" .Name) }}
    {{ $style = slice $component $style | resources.Concat .Name }}
  {{ end }}
  {{ $style = slice $style | resources.Concat "all.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  <title>{{ .Site.Title }}</title>
</head>
